{% extends 'base.html.twig' %}


{% block stylesheets %}{{ parent() }}{% endblock %}
{% block title %}{{ parent()}} HomeController!{% endblock %}

{% block header %} {{ parent() }} {% endblock %}
{% block body %}
    <form action="/AnnoucementsAddController.php">
        Title:<br>
        <input type="text" name="title">
        <br>
        Price:<br>
        <input type="text" name="price">
        <br>
        Content :<br>
        <input type="text" name="content">
        <input type="submit" value="Submit">
    </form>


{% endblock %}